.layout {
    background: #F3EFEA;
        width: 1180px;
        height: auto; /* or remove the height property entirely */
        display: flex;
        flex-direction: row;
      
        margin: 0 auto;
}
.big-layout {
    background: #F3EFEA;
        width: 1440px;
        height: auto; /* or remove the height property entirely */
        display: flex;
        flex-direction: row;
      
        margin: 0 auto;
}
.gap25 {
    gap: 25px;
}

body {
    background: #F3EFEA;
}
.border-red {
    border: 1px solid red;
}
.hidden {
    display: none;
}
.head_icon img {
    width: 30px;
    height: 30px;
    margin-left: auto;
}
.Header ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    
}

.Header ul li {
    width: 20%;
    margin-right: 20px; /* Adjust the spacing between navigation items as needed */
}

.first {
    background: #F3EFEA;
    display: flex;
    flex-direction: row;
    gap: 35px;
    
}

.row {
    display: flex;
    width: 100%;
    height: 774px;
}
.row-img{
    width: 100%;
    height: 774px;
    overflow: hidden;
   
}
.row-img img {
    width: 100%;
}
.row1 {
    display: flex;
    width: 100%;
    height: 774px;
    background: #F3EFEA;
    flex-direction: row;
    align-items: center;
}

.main_content {
    display: flex;
    flex-direction: row;
 
}

.p1 {
    color: #323232;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}

.p2 {
    color: #57463A;
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.p3 {
    color: #323232;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}
.button1 {
    width: 245px;
    height: 60px;
    background: #A1B29F;
    display: flex;
    justify-content: center;
    align-items: center; /* Center text vertically */

}

.Text_button {
    /* Text styles */
   display: flex;
   background: #A1B29F;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    border:  none;
    
}
.icons {
    padding-left: 400px;
    height: 280px;
    width: 430px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

.images {
    display: flex;
    position: relative;
}

.i_telegram {
    gap: 35px;
    position: relative;
    display: inline-block;
    margin-right: 10px; /* Optional: Add margin between icons */
}
.whatsapp{
    gap: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.instagram{
    gap: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.circle {
    position: relative;
    z-index: 1; /* Set a higher z-index for the circle */
    gap: 35px;
    width: 30px;
    height: 30px;
    stroke-width: 1px;
    stroke: #715B4B;
}
.circle1 {
    position: relative;
    z-index: 1; /* Set a higher z-index for the circle */
    gap: 35px;
    width: 30px;
    height: 30px;
    stroke-width: 1px;
    stroke: #715B4B;
}
.circle2{
    position: relative;
    z-index: 1; /* Set a higher z-index for the circle */
    gap: 35px;
    width: 30px;
    height: 30px;
    stroke-width: 1px;
    stroke: #715B4B;
}
.telegram-icon {
    gap: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Set a higher z-index to place this icon above the circle */
}
.whatsapp-icon {
    gap: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 20px; /* Set the desired width */
    height: 20px; /* Set the desired height */
}

.instagram-icon {
    gap: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 20px; /* Set the desired width */
    height: 20px; /* Set the desired height */
}
.layout2{
    background: #F3EFEA;
    width: auto;
    height: auto; /* or remove the height property entirely */
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.Nikason_t {
    color: #57463A;
    text-align: center;
    /* Title */
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 57.6px */
}
.NIKASON_Gap{
   padding-bottom: 70px;
   margin-left: 130px;
}
    .Text_line_group {
        width: 268px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px; /* Adjust the gap between the text lines */
    }
    
.text_line{
    width: 268px;
}
.text_line1{
    width: 268px;
}
.text_line2{ 
    width: 284px;
    height: 48px;
}
.txt{
    color: #323232;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 27px */
}
.txt1{
    color: #323232;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 27px */
}
.txt2{
    color: #323232;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 27px */ 
}

.line{
    background: #715B4B;
    width: 360px;
    height: 3px;
}
.line1{
    background: #715B4B;
    width: 360px;
    height: 3px;
}
.line2{
    background: #715B4B;
    width: 360px;
    height: 3px;
}
.txt3 {
    color: #57463A;
font-family: Tenor Sans;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 72px */
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, calc((1160px - 280px) / 4)); /* 4 columns with equal width after deducting padding */
    grid-template-rows: repeat(2, 250px); /* 2 rows with equal height after deducting padding */
    width: 1160px; /* Fixed width */
    height: 502px; /* Fixed height */
    padding: 0 140px; /* 140px padding on both sides */
}

.grid-item {
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    /* Add other styles for your grid items */
}
.grid-item p {
    justify-content: flex-end;
    color: #323232;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 102.99%; /* 18.538px */
}
.grid-item img {
    width: 100px;
    height: 100px;
}
.row2{
    display: flex;
    flex-direction: column;
}
.txt4{
    display: flex;
    justify-content: center;
    padding-right: 485px;
    color: #57463A;
    font-family: Tenor Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 72px */
}
.layout1{
    width: 1580px;
    height: 950px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: start;
} 
.row3 { 
        height: 500px; /* Set the desired height for the row */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px; /* Set the desired gap between row3 instances */
}
.row4 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
}
.text_line4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.txt5{
    margin-right: 13px;
    color: #000;
    font-family: Tenor Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}
.txt6{ 
    width: 515px;
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 27px */
    padding-top: 25px;
}
.txt7{
    width: 515px;
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 27px */
    padding-top: 45px;
}
.button2{
    
    color: #F6F6F6;
text-align: center;
/* Text */
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}
.layout1 p{
color: #57463A;

/* Title 1 */
font-family: Tenor Sans;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 72px */
}
.unknown-rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1160px;
    height: 700px;
    background: #C4C4C4;
}

.start-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column{
display: flex;
flex-direction: column;
}
.grid-container3 {
    display: grid;
    grid-template-columns: repeat(2, 720px);
    grid-template-rows: repeat(2, 536.33px);

}

.grid-item4 {
    width: 720px;
    height: 536.33px;
    background:  #D4CDC3;
}

.grid-item3  {
    width: 720px;
    height: 536.33px;
    background: #E3DACE;
  }
  .content{
    color: #000;
    font-family: Tenor Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}
.p11    {
    
    color: #000;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 27px */
}
.button3{
    width: 245px;
    height: 60px;
}
.gosT {
width: 1160px;
height: 590px;
border: 7px solid #A1B29F;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.gost-title{
    width: 658px;
    margin: 0 auto;
color: #57463A;
text-align: center;

/* Title 1 */
font-family: Tenor Sans;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 72px */
}
.layout3{
    padding-top: 300px;
      width: 1580px;
    height: 950px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: start;
}
.gost1{
    width: 922px;
    color: #000;
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 36px */
}
.logo{
width: 152.419px;
height: 150px;
align-self: flex-end;
margin-right: 100px;
}
.layout4{
    width: 1440px;
height: 380px;
    background: #715B4B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.footer_line{
    display: flex;
    flex-direction: row;
    color: #F6F6F6;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 24px */
}
.scroll{
    padding-top: 1px;
}