.layout {
    max-width: 1440px;
    /* Consider using max-width instead of fixed width */
    height: 6930px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.Header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    width: 100%;
    /* Use 100% or max-width for responsiveness */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

.head_icon img {
    width: 30px;
    height: 30px;
    margin-left: auto;
    /* Push the icon to the right */
}

nav ul li span {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
